
@font-face {
    font-family: dela-gothic-one;
    src: url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);
    font-weight: 400;
}

h1 {
    font-size: 80px;
    font-family: dela-gothic-one, sans-serif;
    text-align: center;
    }

h2 {
    font-size: 35px;
    font-family: dela-gothic-one, sans-serif;

}

p {
    font-family: dela-gothic-one, sans-serif;
    font-size: 25px;
}

body {
    background-color:pink;
}

ul.horizontal-list {
    list-style: none;
}

ul.horizontal-list li {
    display: inline-block;
    padding: 0 0.5rem;
    min-width: 12rem;
    text-align: center;
}

a {
    text-decoration: none;
}
img {
    width: 600px;
    margin-left: 5%;
    margin-right: 5%;
    
}

.about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.post-template-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 1.8;
    

   

}

.post-template-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 1.8;
   
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 1.8;

  
}

.contact img {
    
    width: 60px;
}

body {
    margin-left: 10%;
    margin-right: 10%;
}


p {
    padding: 10%;
}

.links {
    width: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}